<html>
<head>
    <title>Veteriner Uygulaması</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
   		<div class="col-md-12">
		    <h2>Hoşgeldiniz</h2>
		    <hr>
    		<a href="/" class="btn btn-success">Anasayfa</a>
		    <a href="/login" class="btn btn-primary"> Giriş Yap</a>
		    <a href="/register" class="btn btn-info">Üye Olma Sayfasına Git</a>
		    <a href="/secure" class="btn btn-danger"> Detaylar </a>
		    <hr>
 	   </div>
   		<div class="col-md-6">
			<img alt="" class="img-thumbnail " src="https://www.bukrek.com/images/veteriner-gunu.jpg">
		</div>
   		<div class="col-md-6">
			<img alt="" class="img-thumbnail " src="https://img-s1.onedio.com/id-5b3a2a0b457511730e6f787e/rev-0/raw/s-1df81c8d8203e9d6d42b7a8a112f1a234afb02c0.jpg">
		</div>
		<div class="col-md-12">
			<hr>
			<p>Dünya standartlarında hekimlik nosyonunu her geçen gün üst seviyelere taşıyarak, 
			ülkemiz pet sektöründe lokomotif görevi almak; Yenilikleri takip ederek, 
			güncel bilgiler ışığında kaliteli ve ulaşılabilir hizmeti verebilmektir. </p>
		</div>
	</div>
</div>
</body>
</html>