<html>
<head>
<title>Veteriner Uygulaması</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
	    		<h1 class="h3 mb-3 font-weight-normal">Üye Kaydı</h1>
			    <hr>
	    		<a href="/" class="btn btn-success">Anasayfa</a>
			    <a href="/login" class="btn btn-primary"> Giriş Yap</a>
			    <a href="/register" class="btn btn-info">Üye Olma Sayfasına Git</a>
			    <a href="/secure" class="btn btn-danger"> Detaylar </a>
			    <hr>
			</div>
			<div class="col-md-12">
			<span th:text="'Message : ' + ${message}"></span>
			<hr>
			<span th:text="'Kullanıcı Adı : ' + ${user}"></span>
			<hr>
				<a href="/logout" class="btn btn-danger">Çıkış Yapın</a>
			</div>
		</div>
	</div>
</body>
</html>