<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Insert title here</title>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h5>İndex ( Home ) Page</h5>
				<hr>
				<a href="/hello" type="button" class="btn btn-primary">Hello
					Page</a>
				<a href="/students-details" type="button" class="btn btn-secondary">Show all details</a>
				<hr>
				<p th:text="'Message : ' +  ${message}" />
				<hr>
			</div>
			<div class="col-sm-9">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">İd</th>
							<th scope="col">Name</th>
							<th scope="col">action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="student : ${students}"     >
							<th scope="row">#</th>
							<td th:utext="${student.getId()}"></td>
							<td th:utext="${student.getName()}"></td>
							<td><a 
								th:href="@{'/student-details/'+${student.getId()}}" type="button" class="btn btn-warning">
									Show Details</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="col-sm-3">

				<img style="width: 200px; height: 270px"
					th:src="@{https://upload.wikimedia.org/wikipedia/en/thumb/5/56/Real_Madrid_CF.svg/1200px-Real_Madrid_CF.svg.png}" />
			</div>
		</div>
	</div>




	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

</body>
</html>